cryptography==42.0.5
numpy==2.2.4
pandas==2.2.3
Pillow==11.2.1
psutil==6.0.0
PyQt5==5.15.11
PyQt5_sip==12.16.1
pytest==8.3.5
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
torch==2.3.0
transformers==4.41.2
azure-identity==1.16.0
azure-mgmt-resource==23.0.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.1.0
docker==7.0.0